/* var color */

:root{
  --main-color : #399fff;
  --second-color : #3a85ff;
  --font-color : white;
}

body{
  background-color: #f2f2f2;
}

hr{
  color: black;
  border-top: 1px solid black;
  width: 80%;
}

p{
  margin-bottom: 0;
}
/*    NAVBAR   */

/* Enlever les angles des bordures du haut */
.navbar{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: var(--font-color);
}

.navbar-inverse{
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: var(--second-color);
}

/* Mettre une marge sur la chaughe pour les fulls screen */
@media (min-width: 768px){
  .navbar-nav{
    margin-left: 5%;
  }
}

/*  FIN DE NAVBAR  */

/*   CONTAINER   */

@media (min-width: 1920px){
  .container{
    width: 1500px;
  }
}

@media (min-width: 1600px){
  .container{
    width: 1400px;
  }
}

.container{
  margin-top: 0;
  margin-bottom: 3%;
}

/*  FIN DE CONTAINER  */

/* INTRODUCTION */

.introduction{
  background : url("/portfolio/img/background.png") no-repeat;
  background-size: 1500px 1000px;
  height: 500px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.introduction > h2{
  color: white;
  margin-top: 20px;
}

.introduction > img{
  color: white;
  margin-top: 175px;
}


/* FIN DE INTRODUCTION */

/* PRESENTATION */

.row > .col-sm-12 > h2{
  font-weight: bold;
}

.row > .col-sm-12 > h4{
  font-weight: bold;
}

.parcours-hr{
  width: 30%;
}

/* FIN DE PRESENTATION */

/* PARCOURS */


.row > .col-sm-2 > img{
  margin-top: 20px;
}
